{% extends "base.twig" %}
{% block main %}
<div>
    <section>
        <h2>Ajouter une Warframe</h2>
    </section>
    <div class="inner" id="centree">
        <form accept-charset="utf-8" action="/wf/ayaya" method="post">
            <p>Nom : <input id="wf_name" name="wf_name" type="text"></p>
            <p>Description : <input id="wf_description" name="wf_description" type="text"></p>
            <p>URL image : <input id="wf_img" name="wf_img" type="url"></p>
            <p>Point de vie : <input id="wf_pv" name="wf_pv" type="number"></p> 
            <p>Bouclier : <input id="wf_shield" name="wf_shield" type="number"></p> 
            <p>Armure : <input id="wf_armor" name="wf_armor" type="number"></p> 
            <p>Vitesse : <input id="wf_ms" name="wf_ms" type="number"></p> 
            <p>Energie : <input id="wf_energy" name="wf_energy" type="number"></p> 
            <p><input type="submit" value="Envoie"></p>
        </form>
    </div>
    
</div>
{% endblock %}