<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Warframe galery</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
    </head>
    <body>
        <header>
            <img id = "blab" src="/assets/img/alogo.png"/>
            <nav>
                <a href="/">Home</a>
                <a href="/add">Ajouter</a>
                <a href="/commentaires">Commentaires</a>
            </nav>
            
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <img src="/assets/img/logowf.png" alt="Warframe" />
        </footer>
    </body>
</html>