{% extends "base.twig" %}
{% block main %}
<div>
    <section>
        <h2>Espace commentaire</h2>
    </section>
    <div class="inner">
        <form accept-charset="utf-8" action="/commentaire/post" method="post">
        
            <p>Nom : <input id="pseudo" name="pseudo" type="text"></p>
            <p>Commentaires : <input id="commentaires" name="commentaires" type="text"></p>
            <p><input type="submit" value="Post"></p>
        </form>
    </div>
    
    <div class="inner" id ="cooomz">
        
            {% for com in comz %}
                <a class="admin" href="/com/{{com.id}}"><p>supprimer</p></a>
                <p>Pseudo : {{com.pseudo}}</p>
                <p id="lescomz">Commentaire : {{com.commentaires}}</p> 
            <hr>
            {% endfor %}

    </div>
</div>

<script>

</script>
{% endblock %}