{% extends "base.twig" %}
{% block main %}
<div>
<h2 class="inner titre">Les diffrentes warframes</h2>
    <section class="artlcntr">
        
        {% for line in frame %}
                <figure>
                    <a href="/{{line.wf_id}}"><img class="image" src="{{ line.wf_img }}" alt="" />
                    <figcaption>{{line.wf_name}}</figcaption></a>
                </figure>
            </a>
        {% endfor %}
    </section>
</div>
{% endblock %}