{% extends "base.twig" %}
{% block main %}

<h2 class="inner titre">{{Sgframe.wf_name}}</h2>
<div class="grid">
    <article id="123546">
        <h2> </h2>

        <div class="description">
            {{Sg_frame.wf_description}}
        </div>

  <div class="description">
            <img src="{{Sgframe.wf_img}}" alt="" />
        </div>

        <div class="card">
            
            <dl>
                <dt>Name</dt>
                <dd>{{Sgframe.wf_name}}</dd>
                <dt>Description</dt>
                <dd>{{Sgframe.wf_description}}</dd>
                <dt>HP</dt>
                <dd>{{Sgframe.wf_pv}}</dd>
                <dt>Armor</dt>
                <dd>{{Sgframe.wf_armor}}</dd>
                <dt>Move Speed</dt>
                <dd>{{Sgframe.wf_ms}}</dd>
                <dt>Shield</dt>
                <dd>{{Sgframe.wf_shield}}</dd>
                <dt>Energy</dt>
                <dd>{{Sgframe.wf_energy}}</dd>
            </dl>
        </div>
    </article>

</div>
{% endblock %}