body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("/assets/img/logo.png");
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:  rgb(39, 0, 110);
}

header{
    background: rgb(39, 0, 110) url("/assets/img/banner.png") repeat scroll center top;
}

footer {
    margin-top: 70px;
    background: rgb(65, 0, 185);
    padding: 2em;
}

footer img{
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

header > a{
    width: 512px;
    height: 112px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background: url("/assets/img/logo.png") no-repeat;
    color: transparent;
}

header > a:hover{
    background: url("/assets/img/logo.png") no-repeat;
}

#commentaires{
height: 100px;
width:400px;
}

#tbl_comz{
    border-color: #FFF;
    border-width: 10px;
}

#tbl_psd{
    width: 50px;
}

.tbl_comzs{
    width: auto;

}

#centree {
    margin: 0 auto;
    width : 512px;
    
}

#cooomz{
    border-radius: 5%;
    
    display: inline-block;
    
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
header nav{
    background: rgb(65, 0, 185);
    padding: 0 0.8em;
}

header nav a {
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,255, 255);
    border-bottom: 3px solid transparent;
    border-radius: 10%;
}

h2.titre {
    font-size: 75px;
    font-family: 'Staatliches', cursive;
}

#letruc{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
}

a #admin{
    color: transparent;
}

a{
    color: #FFF;
}

#lescomz{
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.inner{
    text-align: center;
    color: #FFF;
}

header nav a:hover{
    border-bottom: 3px solid rgb(223, 0, 44);
}

main article#123546 {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    border-radius: 10%;
}

.artlcntr, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    border-radius: 10%;
}

main article {
    row-gap: 0;
}
main section h2, main article h2 {
    font-family: 'Staatliches', cursive;
    color:#FFF;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 5.6em;
    text-align: center;
}

main section a, main .grid aside a{
    display: block;
    text-decoration: none;
}
main section a figure, main .grid aside a, main article dl, main article img{
    margin: 0;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(65, 0, 185);
    color: #FFF;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid rgb(65, 0, 185);
    display: block;
    margin: 0 auto;
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(39, 0, 110);
    padding: 0.8em 0;
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article dl dd {
    text-align: right;
    border-bottom: 1px dotted rgb(65, 0, 185);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
}

main article dl dd:last-of-type {
    border-bottom: none;
}

main article .description {
    font-size: 1.6em;
    color: #FFF;
}

main .grid aside a figure {
    margin: 0;
}

main .grid aside a {
    margin-bottom: 15px;
}

main section a figure:hover, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main section a figure img, main .grid aside a figure img{
    display: block;
    width: 100%;
    color: #FFF;
}

.image{
    height: 400px;
    width: 100%;
    max-width: 275px;
}

main section figure , main .grid aside a figure figcaption {
    padding: 0.3em;
    width: auto;
    border-bottom: 3px solid transparent;
    border-radius: 10%;
    background-color: rgb(65, 0, 185);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 2.9em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(39, 0, 110);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr .5fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 2.6em;
    text-align: center;
}